
<h1> <%= @user.username %>'s Games: </h1>

<p>
<% @user.games.each do |game| %>
    <%= game.name %> -
    <%= game.genre %>
    <a href="/games/<%= game.id %>"> View Game Page </a>
    <br>
<% end %>
</p>
