<h3>Edit Game Name</h3>
<form action='/games/<%= @game.id %>' method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<label for="Game">Game:</label>
  <input type="text" id="name" name="name">
  <br>
  
  <h3>Edit the Genre</h3>
  <input type="checkbox" id="Action/Adventure" name="genre" value="Action/Adventure">
  <label for="action">Action/Adventure</label>
  <br>
  <input type="checkbox" id="Role-Playing Game" name="genre" value="Role-Playing Game">
  <label for="rpg">Role-Playing Game</label>
  <br>
  <input type="checkbox" id="Puzzle" name="genre" value="Puzzle">
  <label for="action">Puzzle</label>
  <br>
  <input type="checkbox" id="Sports" name="genre" value="Sports">
  <label for="action">Sports</label>
  <br>
  <input type="checkbox" id="Strategy" name="genre" value="Strategy">
  <label for="action">Strategy</label>
  <br>
 
  <input type="submit" value="Edit Game">

</form>