<form action='/games' method="POST">
<label for="Game">Game:</label>
  <input type="text" id="name" name="name">
  <br>
  <label for="Genre">Genre:</label>
  <input type="text" id="genre" name="genre">
  <br>
  Add Game to Library:
  <input type="submit" value="submit">

</form>