<h1> <%= @game.name %> - <%= @game.genre %> </h1>
<br>
<a href="/games/<%= @game.id %>/edit"> Edit Game </a>


# Stretch feature a description scraped from a game website
# stretch feature game reviews - Game model could have an array for user reviews