<!doctype html>
<html>
  <head>
    <title>Video Game Manager</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Video Game Manager!</h1>
    </div>

    <%= yield %>
    <br>
    <a href="/games"> View all Games </a>
    <br>
    <a href="/logout">Log out</a>

  </body>
</html>